
@model  System.Data.DataTable
@using System.Data;
@{
    ViewBag.Title = "Ajouter";
    Layout = "~/Views/Shared/_LayoutManga.cshtml";
}
<h2>Ajouter un Manga</h2>
@if (Model != null)
{
    using (Html.BeginForm("Ajouter","Manga", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <label class="control-label col-md-2">Titre du Manga</label>
                <div class="col-md-10">
                    <input name="Titre_manga" type="text" class="form-control" id="Titre_manga" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Nom du dessinateur</label>
                <div class="col-md-10">
                    <input name="Nom_dessinateur" type="text" class="form-control" id="Nom_dessinateur" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Nom du Scénariste</label>
                <div class="col-md-10">
                    <input name="Nom_scenariste" type="text" class="form-control" id="Nom_scenariste" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Prix du manga</label>
                <div class="col-md-10">
                    <input name="Prix" type="text" class="form-control" id="Prix" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Couverture</label>
                <div class="col-md-10">
                    <input name="Couverture" type="text" class="form-control" id="Couverture" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Date parution</label>
                <div class="col-md-10">
                    <input name="DateParution" type="text" class="form-control" id="DateParution" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Genre du manga</label>
                <div class="col-md-10">
                    <select name="Id_genre" type="text" class="form-control" id="Id_genre">
                        @foreach (DataRow dataRow in Model.Rows)
                        {
                            <option value="@dataRow.ItemArray[0]">@dataRow.ItemArray[1]</option>
                        }
                    </select>
                  </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Ajouter" class="btn btn-primary" />
                </div>
            </div>
        </div>

    }
}
